<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liberty Mechanical Solutions | HVACR, Plumbing, Electrical & MEPF</title>
    <meta name="description" content="Expert HVACR, plumbing, electrical, and MEPF services for commercial and industrial clients. Licensed, insured, and available 24/7." />
    <meta name="author" content="Liberty Mechanical Solutions" />

    <meta property="og:title" content="Liberty Mechanical Solutions | HVACR, Plumbing, Electrical & MEPF" />
    <meta property="og:description" content="Expert HVACR, plumbing, electrical, and MEPF services for commercial and industrial clients." />
    <meta property="og:type" content="website" />


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@LibertyMech" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="module"  src="{% static 'home/js/index-OJVaYmC6.js' %}"></script>
    <link rel="stylesheet"  href="{% static 'home/css/index-DGRLi86k.css' %}">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
